/*Fonts*/
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Play&display=swap');
/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
    background-color: rgb(187, 0, 0);
}

.header img{
    width: 50px;
    height: 50px;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 15px;
}

#navbar a{
    font-size: 20px;
    font-weight: 600;
    font-family: 'Play', sans-serif;
    color: rgb(211, 211, 211);
    text-decoration: none;
    transition: 0.5 ease;
}

#navbar a:hover{
    color: rgb(7, 7, 7);
}

#navbar .active{
    color: rgb(7, 7, 7);
}

/* HOME */

.hero{
    background-image: url(img/hero-back.png);
    height: 80vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding-left: 70px;
}
.hero h3{
    color: rgb(17, 17, 17);
    font-size: 42pxs;
    font-weight: 600;
    font-family: 'Play', sans-serif;
    padding-bottom: 50px;
    padding-top: 80px;
    text-decoration: underline;
}
.hero h2{
    color: rgb(187, 0, 0);;
    font-size: 78px;
    font-weight: 600;
    font-family: 'Play', sans-serif;
    padding-bottom: 50px;
    text-shadow: -4px 3px 2px rgba(128, 0, 0, 1);
}

/* SLIDER */

.slick-slider{
    display: flex !important;
}
.slider {
    background-color: rgb(187, 0, 0);
    display: flex;
  }

  .slider div {
    display: flex;
    gap: 20px;
  }

  .image-container {
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin-left: 75px;
  }

  .image-container img {
    display: block;
    height: 250px;
    width: 400px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #slider-container {
    position: relative;
  }

  .slick-prev{
    margin-left: 20px;
    margin-top: 19px;
    margin-bottom: 19px;
  }
  .slick-next{
    margin-right: 20px;
    margin-top: 19px;
    margin-bottom: 19px;
  }

  .slick-prev button p{
    color: grey;
    width: 15px;
  }

  .slick-next button p{
    color: grey;
    width: 15px;
  }